body {
	min-width: 320px; 
}


#wrapper {
	overflow: hidden;
	position: relative;
	max-width: 100%;
}


.common-section {
	padding: 30px 0; 
	@media (min-width: 992px) {
		padding: 100px 0;
	}
}

.primary-bg {
	background-color: $custom-yellow;
}

[class^="icon-"], [class*=" icon-"] {
	vertical-align: top;
	font-size: 40px;
	margin: 0 20px;
}

.slide {

	position: relative;

	.title-holder {

		margin-bottom: 30px;

		@media all and (max-width: 991px) {
			text-align: center;
		}
	}

	.icons-holder {
		display: flex;
		@media screen and (max-width: 991px) {
			justify-content: space-around;
			margin-bottom: 40px;
		}
		margin-top: 40px;
	}

	li {
		list-style: none;
	}
}


.vertically-aligned-flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.slick-dots {
	position: absolute;
	z-index: 5;
	bottom: -60px;
	list-style: none;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;

	li {
		margin: 0 15px;
		position: relative;
		border-radius: 50%;
		cursor: pointer;


		&:before {
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: none;
			background-color: rgba(white, .5);
			transition: .3s background-color;
		}

		&:hover,
		&.slick-active {
			&:before {

				background-color: rgba(white, 1);
			}
		}

	}

	button {

		display: none;
	}

}


.section-intro {

	margin-bottom: 40px;
	@media all and (min-width: 992px) {

		margin-bottom: 80px;
	}
		.title-holder {

	margin-bottom: 30px;

	}
}

.feature-article {

	display: flex;
	color: $custom-gray-light;
	margin-bottom: 30px;

	@media all and (min-width: 992px) {

		margin-bottom: 70px;
	}

	.title-holder {
		margin-bottom: 10px;
		@media all and (min-width: 992px) {
			margin-bottom: 15px;
		}
	}
}

.feature-icon-holder {
	color: $text-color;
}
